calibration/build/*
calibration/data/*
calibration/config/*
calibration/cmake-build-debug/*
calibration/.idea/*
calibration/.vscode/*

gimbal/build/*
gimbal/data/*
gimbal/cmake-build-debug/*
gimbal/.idea/*
gimbal/.vscode/*

fast_lio/build/*
fast_lio/data/*
fast_lio/PCD/*
fast_lio/cmake-build-debug/*
fast_lio/.idea/*
fast_lio/.vscode/*

build/*
.idea/*
.vscode/*
