calibration/build/*
calibration/data/*
calibration/cmake-build-debug/*
calibration/.idea/*
calibration/.vscode/*

gimbal/build/*
gimbal/data/*
gimbal/cmake-build-debug/*
gimbal/.idea/*
gimbal/.vscode/*

build/*
.idea/*
.vscode/*
