<launch>
  <param name="rx" type="double" value="0" />
  <param name="ry" type="double" value="-0" />
  <param name="rz" type="double" value="0" />
  <param name="tx" type="double" value="0" />
  <param name="ty" type="double" value="0" />
  <param name="tz" type="double" value="-0" />
  <!-- <param name="data_path" type="string" value="/data/bs_hall/global_scans.pcd" /> -->
  <!-- <param name="data_path" type="string" value="/data/bs_hall/roi_scans_xyzi.pcd" /> -->
  <!-- <param name="data_path" type="string" value="/data/bs_hall/roi_scans_xyzrgb.pcd" /> -->

  <!-- Transform: ROI region(hall) -> global coarse(bs) -->
  <!-- <param name="rx" type="double" value="-3.11916" />
  <param name="ry" type="double" value="3.13113" />
  <param name="rz" type="double" value="2.27865" />
  <param name="tx" type="double" value="-13.19285" />
  <param name="ty" type="double" value="-23.6748" />
  <param name="tz" type="double" value="-0.110397" /> -->
  <!-- <param name="data_path" type="string" value="/data/bs_hall/spot0/recon/global_registered_rgb_1.pcd" /> -->

  <!-- <param name="rx" type="double" value="-0.0228948" />
  <param name="ry" type="double" value="0.027074" />
  <param name="rz" type="double" value="0.776748" />
  <param name="tx" type="double" value="-4.83285" />
  <param name="ty" type="double" value="-2.08588" />
  <param name="tz" type="double" value="-0.110397" /> -->
  <!-- <param name="data_path" type="string" value="/data/room/spot0/0/outputs/lidar_outputs/view_cloud.pcd" /> -->
  <!-- <param name="data_path" type="string" value="/data/crf/spot0/recon/spot_rgb_cloud.pcd" /> -->
  <!-- <param name="data_path" type="string" value="/data/bs_hall/spot0/recon/global_registered_cloud.pcd" /> -->
  <!-- <param name="data_path" type="string" value="/data/parking/spot0/recon/global_registered_rgb_cloud.pcd" /> -->
  <!-- <param name="data_path" type="string" value="/data/bs_hall/spot3/recon/spot_cloud.pcd" /> -->
  <!-- <param name="data_path" type="string" value="/data/bs_hall/spot3/recon/edge_cart.pcd" /> -->
  <!-- <param name="data_path" type="string" value="/data/sustech_crf/spot0/recon/global_registered_cloud.pcd" /> -->
  
  <!-- -0.75, +3.5 -->
  <!-- <param name="data_path" type="string" value="/data/compare/segment_crf_icp2.pcd" /> -->
  <!-- <param name="data_path" type="string" value="/data/compare/segment_crf_lio.pcd" /> -->

  <!-- -0.75, 7.5 -->
  <!-- <param name="data_path" type="string" value="/data/compare/segment_rb2_icp.pcd" /> -->
  <!-- -0.75, 8 -->
  <!-- <param name="data_path" type="string" value="/data/compare/segment_rb2_lio.pcd" /> -->
 
  <!-- <param name="data_path" type="string" value="/data/compare/cliped/segment_rb2_icp_tf.pcd" /> -->
  <param name="data_path" type="string" value="/data/compare/cliped/segment_rb2_lio_tf.pcd" />

  <!-- <param name="type" type="string" value="xyzrgb" /> -->
  <param name="type" type="string" value="xyzi" />
  <!-- <param name="type" type="string" value="xyz" /> -->
  <param name="msg_size" type="int" value="2000" />
  <param name="z_lb" type="double" value="-10" />
  <param name="z_ub" type="double" value="10" />
  <param name="save_pcd_en" type="bool" value="0" />
  <param name="save_path" type="string" value="/data/test.pcd" />
  <node name="rviz_pub" pkg="calibration" type="rviz_pub" output="screen">
  </node>
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d /home/halsey/catkin_ws/src/Livox_Fisheye_Fusion/calibration/launch/livox.rviz">
  </node>
</launch>
