<launch>
  <param name="rx" type="double" value="0" />
  <param name="ry" type="double" value="-0" />
  <param name="rz" type="double" value="0" />
  <param name="tx" type="double" value="0" />
  <param name="ty" type="double" value="0" />
  <param name="tz" type="double" value="-0" />
  <!-- <param name="data_path" type="string" value="/data/bs_hall/roi_scans_xyzi.pcd" /> -->
  <!-- <param name="data_path" type="string" value="/data/liyuan/spot0/fullview_recon/global_tf_cloud.pcd" /> -->

  <!-- <param name="rx" type="double" value="0.012864" />
  <param name="ry" type="double" value="0.001143" />
  <param name="rz" type="double" value="0.160874" />
  <param name="tx" type="double" value="0.299831" />
  <param name="ty" type="double" value="0.230617" />
  <param name="tz" type="double" value="-0.029438" /> -->
  <!-- <param name="data_path" type="string" value="/data/bs_hall/spot0/fullview_recon/fullview_dense_cloud.pcd" /> -->
  <param name="data_path" type="string" value="/data/bs_hall/spot0/fullview_recon/global_registered_cloud.pcd" />
  <!-- <param name="data_path" type="string" value="/data/liyuan/spot0/fullview_recon/global_lio_registered_cloud.pcd" /> -->
  
  <param name="mono_color" type="bool" value="false" />
  <node name="rviz_pub" pkg="calibration" type="rviz_pub" output="screen">
  </node>
</launch>
