<launch>
  <param name="rx" type="double" value="-0.0228948" />
  <param name="ry" type="double" value="0.027074" />
  <param name="rz" type="double" value="0.776748" />
  <param name="tx" type="double" value="-4.83285" />
  <param name="ty" type="double" value="-2.08588" />
  <param name="tz" type="double" value="-0.110397" />
  <param name="data_path" type="string" value="/data/bs_hall/spot0/fullview_recon/global_registered_cloud.pcd" />
  <node name="segment" pkg="calibration" type="segment" output="screen">
  </node>
</launch>
