<launch>
  <!-- <param name="data_path" type="string" value="/data/bs_hall/spot0/fullview_recon/global_registered_cloud.pcd" /> -->
  <!-- <param name="data_path" type="string" value="/data/bs_hall/roi_scans_xyzi.pcd" /> -->
  
  <!-- <param name="data_path" type="string" value="/data/bs_hall/spot0/fullview_recon/segment_hall_icp.pcd" />
  <param name="save_path" type="string" value="/data/bs_hall/spot0/fullview_recon/segment_hall_icp.pcd" /> -->

  <!-- <param name="data_path" type="string" value="/data/bs_hall/spot0/fullview_recon/segment_hall_lio.pcd" />
  <param name="save_path" type="string" value="/data/bs_hall/spot0/fullview_recon/segment_hall_lio.pcd" /> -->
  
  <!-- <param name="data_path" type="string" value="/data/sustech_rb2/spot0/fullview_recon/global_registered_cloud.pcd" /> -->
  <!-- <param name="data_path" type="string" value="/data/sustech_crf/crf_ref.pcd" /> -->
  
  <!-- <param name="data_path" type="string" value="/data/sustech_crf/spot0/fullview_recon/segment_rb2_icp.pcd" />
  <param name="save_path" type="string" value="/data/sustech_crf/spot0/fullview_recon/segment_rb2_icp.pcd" /> -->

  <!-- <param name="data_path" type="string" value="/data/sustech_crf/spot0/fullview_recon/segment_rb2_lio_m.pcd" />
  <param name="save_path" type="string" value="/data/sustech_crf/spot0/fullview_recon/segment_rb2_lio_m.pcd" /> -->

  <!-- <param name="data_path" type="string" value="/data/sustech_crf/spot0/fullview_recon/global_registered_cloud.pcd" /> -->
  <!-- <param name="data_path" type="string" value="/data/sustech_crf/crf_ref.pcd" /> -->
  
  <!-- <param name="data_path" type="string" value="/data/sustech_crf/spot0/fullview_recon/segment_crf_icp.pcd" />
  <param name="save_path" type="string" value="/data/sustech_crf/spot0/fullview_recon/segment_crf_icp.pcd" /> -->

  <!-- <param name="data_path" type="string" value="/data/sustech_crf/spot0/fullview_recon/segment_crf_lio.pcd" />
  <param name="save_path" type="string" value="/data/sustech_crf/spot0/fullview_recon/segment_crf_lio.pcd" /> -->

  <param name="data_path" type="string" value="/data/compare/segment_hall_icp.pcd" />
  <param name="save_path" type="string" value="/data/compare/segment_hall_icp.pcd" />

  <!-- mode = 0: delete points inside the polygon -->
  <!-- mode = 1: save points inside the polygon -->
  <param name="clip_mode" type="bool" value="0" />
  <param name="fix_radius" type="bool" value="1" />
  <param name="k_samples" type="int" value="20000" />
  <param name="search_radius" type="double" value="0.10" />
  <node name="segment" pkg="calibration" type="segment" output="screen">
  </node>
</launch>
